.paragraph {
  margin: 0;
  position: absolute;
  text-align: center;
  width: fit-content;
  padding: 0.2rem;
}

.vertical-left {
  transform: rotate(90deg);
  top: 50%;
  left: -1.7rem;
  translate: 0 -50%;
  width: 4rem;
  height: 1.5rem;
}

.vertical-right {
  transform: rotate(270deg);
  top: 50%;
  right: -1.7rem;
  translate: 0 -50%;
  width: 4rem;
  height: 1.5rem;
}

.horizontal-bottom {
  bottom: 0;
  width: 100%;
}

.horizontal-top {
  top: 0;
  width: 100%;
  transform: rotate(180deg);
}
