.list {
  padding: 0.8rem 3rem 0;
  list-style: none;
  counter-reset: items;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--sapphire-blue) transparent;
  height: 55vh;
}

.list-item {
  counter-increment: items;
  padding: 2rem;
  position: relative;
  height: 120px;
}

.list-item:nth-child(even) {
  border-right: 5px solid var(--sapphire-blue);
  border-bottom: 5px dashed var(--sapphire-blue);
  border-radius: 0 20px 20px 0;
  margin-left: 30px;
  border-width: 8px;
}

.list-item:nth-child(odd) {
  border-left: 5px solid var(--sapphire-blue);
  border-bottom: 5px dashed var(--sapphire-blue);
  border-radius: 20px 0 0 20px;
  margin-right: 30px;
  border-width: 8px;
}

.list-item:last-child {
  border: none;
}

.list-item::before,
.list-item::after {
  background-color: var(--sapphire-blue);
  padding: 0.5rem;
  color: #fff;
  height: 3rem;
  width: 3rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.list-item:nth-child(even)::after {
  content: counter(items) ". ";
  position: absolute;
  font-weight: bold;
  top: -0.5rem;
  right: -1.5rem;
}

.list-item:nth-child(odd)::before {
  content: counter(items) ". ";
  position: absolute;
  font-weight: bold;
  top: -0.5rem;
  left: -1.5rem;
}
