.styles {
  justify-self: end;
  width: 10rem;
  padding: 0.8rem 1.2rem;
  background-color: var(--sapphire-blue);
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 15px var(--box-shadow);
}

.is-selected {
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: var(--sapphire-blue);
}
