.main {
  width: 45rem;
  padding: 2rem 1rem 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  height: 85%;
}

.header {
  position: relative;
}

.headline {
  font-size: 4rem;
  padding: 0.8rem 0 0;
  text-align: center;
  font-family: var(--luckiest-font);
  background: -webkit-linear-gradient(
    var(--burning-crimson),
    var(--fiery-red),
    var(--golden-yellow)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
